# COVID-19 & Health Predictor 

#### - Data Bootcamp Final Project
##### - Cordell, Gibbs, Miller, Ross

# Purpose: 
### Analyze COVID-19 Positivity or Negativity Based on Correlation to Nutrition

# Model: Linear Regression Model

In [1]:
from sklearn.linear_model import LinearRegression

## Library & Dependency Installation

In [2]:
# Scikit-Learn Libraries/Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
# Data Frame & Data Manipulation Libraries/Dependencies
import pandas as pd

## Loading the Data

#### Physical Path Import

In [4]:
# Create File Path
file_path = "cleaned_covid_19_data.csv"

# Build the Dataframe
dataframe = pd.read_csv(file_path)

In [5]:
# Preview the Data
dataframe.head(15)

,Country,continent,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,positive_rate,tests_per_case,...,total_boosters,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy
0,Afghanistan,Asia,2021-01-01,52513.0,183.0,2201.0,12.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
1,Afghanistan,Asia,2021-01-02,52586.0,73.0,2211.0,10.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
2,Afghanistan,Asia,2021-01-03,52709.0,123.0,2221.0,10.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
3,Afghanistan,Asia,2021-01-04,52909.0,200.0,2230.0,9.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
4,Afghanistan,Asia,2021-01-05,53011.0,102.0,2237.0,7.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
5,Afghanistan,Asia,2021-01-06,53105.0,94.0,2244.0,7.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
6,Afghanistan,Asia,2021-01-07,53207.0,102.0,2253.0,9.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
7,Afghanistan,Asia,2021-01-08,53332.0,125.0,2257.0,4.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
8,Afghanistan,Asia,2021-01-09,53400.0,68.0,2264.0,7.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
9,Afghanistan,Asia,2021-01-10,53489.0,89.0,2277.0,13.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
10,Afghanistan,Asia,2021-01-11,53538.0,49.0,2288.0,11.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
11,Afghanistan,Asia,2021-01-12,53584.0,46.0,2301.0,13.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
12,Afghanistan,Asia,2021-01-13,53690.0,106.0,2308.0,7.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
13,Afghanistan,Asia,2021-01-14,53775.0,85.0,2314.0,6.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
14,Afghanistan,Asia,2021-01-15,53831.0,56.0,2324.0,10.0,NaN,NaN,NaN,...,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83

## Connect to Database

In [ ]:
# # Install Postgres Driver
# !wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

##### Build Database Connection

In [ ]:
# # Import Module to Communicate with PostgreSQL
# import psycopg2 as pg

# # Import Password Protector
# from getpass import getpass

# # Build Engine for Connection
# engine = pg.connect(
#     "
#     dbname='my_db_name' 
#     user='pguser' 
#     host='127.0.0.1' 
#     port='15432' 
#     password=getpass('pgpassword')
#     "
# )

# dataframe = pd.read_sql('select * from Stat_Table', con=engine)

In [ ]:
# # Import Module to Communicate with PostgreSQL
# import psycopg2

# # Connection parameters - yours will be different
# param_dic = {
#     "host"      : "localhost",
#     "database"  : "globaldata",
#     "user"      : "myuser",
#     "password"  : "Passw0rd"
# }

# # Define the connection function
# def connect(params_dic):
#     """ Connect to the PostgreSQL database server """
#     conn = None
#     try:
#         # connect to the PostgreSQL server
#         print('Connecting to the PostgreSQL database...')
#         conn = psycopg2.connect(**params_dic)
#     except (Exception, psycopg2.DatabaseError) as error:
#         print(error)
#         sys.exit(1) 
#     print("Connection successful")
#     return conn

In [ ]:
# # Connect to Database
# connect(param_dic)

##### Retrieve Table/DataFrame from Database

In [ ]:
# # Define our Data Table Retreival Function
# def postgresql_to_dataframe(conn, select_query, column_names):
#     """
#     Tranform a SELECT query into a pandas dataframe
#     """
#     cursor = conn.cursor()
#     try:
#         cursor.execute(select_query)
#     except (Exception, psycopg2.DatabaseError) as error:
#         print("Error: %s" % error)
#         cursor.close()
#         return 1
    
#     # Naturally we get a list of tupples
#     tupples = cursor.fetchall()
#     cursor.close()
    
#     # We just need to turn it into a pandas dataframe
#     df = pd.DataFrame(tupples, columns=column_names)
#               # *** Potentially change this ^ so that we don't have to input column names by hand ***
#     return df

In [ ]:
# # Retreive Data
# postgresql_to_dataframe(conn, select_query, column_names)

# # Rename DataFrame Variable
# dataframe = df

## Process & Preprocess the Data

### Clean the Data

##### Identify Categorical Variables/Columns

In [9]:
# Generate our categorical variable list
categorical_columns = dataframe.dtypes[dataframe.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
dataframe[categorical_columns].nunique()

Country      127
continent      6
date         365
dtype: int64

##### Determing Bucketing - if categorical column has more than 10 unique values, consider binning!

In [1]:
## OPTIONAL ##

## Analyze frequencies of unique values in categorical column(s)
# column1_counts = dataframe.insert_column_name_here.value_counts()

## Plot the value counts - then determine the cut off(s) for binning
# column1_counts.plot.density()

In [2]:
## OPTIONAL ##

## Determine which values to replace
# replace_column1 = list(column1_counts[column1_counts < cutoff_value].index)

## Replace the column values you'd like to bucket together in the DataFrame
# for value in replace_column1:
  # dataframe.insert_column_name_here = dataframe.insert_column_name_here.replace(value,"New_Bucketed_Value_Name-Ex:'Other'")

## Check to make sure the bucketing/binning was successful
# dataframe.insert_column_name_here.value_counts()

##### Encode the Categorical Values

In [6]:
# Import the LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [11]:
# # Instantiate LabelEncoder
# encoder = LabelEncoder()

# # Create a copy of the dataframe and encode the data
# dataframe_copy = dataframe.copy()

# # Train the LabelEncoder, convert the text columns to string columns
# for x in categorical_columns:
#   dataframe_copy[f"{x}"] = encoder.fit_transform(dataframe_copy[f"{x}"])

# # Preview the converted tables
# dataframe_copy.head(15)

### Dataset Training & Test Splitting

##### Separate Features from Outcomes

##### Features(X)

In [12]:
# Create Features Dataset
# X = dataframe_copy.copy()

X = dataframe.copy()
X = X.drop(["positive_rate", "Country", "continent", "date"], axis=1)

# Preview the Dataset
X.head(15)

,total_cases,new_cases,total_deaths,new_deaths,total_tests,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy
0,52513.0,183.0,2201.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
1,52586.0,73.0,2211.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
2,52709.0,123.0,2221.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
3,52909.0,200.0,2230.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
4,53011.0,102.0,2237.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
5,53105.0,94.0,2244.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
6,53207.0,102.0,2253.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
7,53332.0,125.0,2257.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
8,53400.0,68.0,2264.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
9,53489.0,89.0,2277.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
10,53538.0,49.0,2288.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
11,53584.0,46.0,2301.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
12,53690.0,106.0,2308.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
13,53775.0,85.0,2314.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83
14,53831.0,56.0,2324.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83

##### Outcomes (y)

In [14]:
# Create Outcomes Dataset
y = dataframe["positive_rate"]

# Preview the data
y.head(15)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
Name: positive_rate, dtype: float64

#### Create Training & Testing Splits

In [15]:
# Split Data into Training & Testing (Default: 75%/25% Split)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=615, stratify=y, train_size=None)

# | Change the split % by editting the "train_size parameter to your training split percentage" |
      # Example: train_size = 0.80 results in an 80%/20% split

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# Preview the shapes of the Split Datasets
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

#### Standardizing/Scaling the Data

In [ ]:
# Instantiate the Scaler
scaler = StandardScaler()

In [ ]:
# Fit/Train Scaler to the Training Data
X_scaler = scaler.fit(X_train)

In [ ]:
# Scale / Transform the X data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Apply the Model

#### Instantiate, Fit, & Evaluate the Model

In [ ]:
# Instantiate the Model
lr_model = LinearRegression()

In [ ]:
# Fit the Model to the Training Data
lr_model.fit(X_train_scaled,y_train)

In [ ]:
# Create predictions with the model using X_test Data.
y_pred = lr_model.predict(X_test)

# View the Data
print(y_pred.shape)

#### Evaluate the Model

In [ ]:
# Import the Evaluation Metrics & Dependencies
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
# Evaluate the Model's Accuracy (Against y_test)
model_accuracy = accuracy_score(y_test,y_pred)

In [ ]:
# Evaluate the Model's Precision & Sensitivity (Against y_test)
matrix = confusion_matrix(y_test,y_pred)

# Convert Confusion Matrix into a DataFrame
matrix_df = pd.DataFrame(
    matrix, index=["Actual Positive", "Actual Negative"], columns=["Predicted Positive", "Predicted Negative"]
)

In [ ]:
# Evaluate the Model with Statistical Metrics (Against y_test)
model_classification_report = classification_report(y_test, y_pred)

##### Display Evaluation

In [ ]:
# Display the results
print(f"This model's accuracy is {model_accuracy}/100.")
print(f"Confusion Matrix displaying:   True Positive | False Negative \n                    False Positive | True Negative")
display(matrix_df)
print(f"Statistical Metrics via Classification Report")
print(model_classification_report)

## Results & Takeaways

#### Model Effectiveness & Applications Summary

*Insert Model Summary & Results Write-Up Here*

#### Feature Importances & *Weights*

In [ ]:
# Create a sorted list of features from most important to overall outcome to least important!
sorted(zip(lr_model.feature_importances_, X.columns), reverse=True)

*Insert Feature Importances Summary & Results Write-Up Here*